@CHARSET "ISO-8859-1";

div.alert {
	width: 35%;
	margin: auto;
}

table.thRight th {
	text-align: right !important;
}

.panel-heading {
	font-weight: bold !important;
	background-color:  #538DD5 !important;
	
}