<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Wanke Apontamento</title>
	<meta http-equiv="X-UA-Compatible" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />
	<h:outputScript library="js" name="jquery-1.11.1.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	
	<h:outputStylesheet library="css/" name="layout.css" />
	<h:outputStylesheet library="css/apontamento/" name="layout.css" />

	<ui:insert name="head" />
</h:head>
<h:body>

	<div id="wrapper">
		<ui:insert name="content" />
	</div>

</h:body>
</html>
