<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Wanke Controle de Produção</title>
	<meta http-equiv="X-UA-Compatible" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />
	<h:outputStylesheet library="bootstrap/sb-admin-v2/font-awesome/css"
		name="font-awesome.min.css" />

	<h:outputStylesheet
		library="bootstrap/sb-admin-v2/css/plugins/dataTables"
		name="dataTables.bootstrap.css" />

	<h:outputStylesheet library="bootstrap/css" name="starter-template.css" />
	<h:outputStylesheet library="bootstrap/sb-admin-v2/css"
		name="sb-admin.css" />

	<h:outputStylesheet library="css/" name="layout.css" />
	
	<h:outputScript library="js" name="jquery-1.11.1.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />
	<h:outputScript library="bootstrap/sb-admin-v2/js/plugins/metisMenu"
		name="jquery.metisMenu.js" />
	<h:outputScript library="bootstrap/sb-admin-v2/js" name="sb-admin.js" />
	<h:outputScript
		library="bootstrap/sb-admin-v2/js/plugins/dataTables/" name="jquery.dataTables.js" />
	<h:outputScript
		library="bootstrap/sb-admin-v2/js/plugins/dataTables/" name="dataTables.bootstrap.js" />
	
	
	    <!-- Page-Level Plugin Scripts - Morris -->
	<h:outputScript library="bootstrap/sb-admin-v2/js/plugins/morris/" name="raphael-2.1.0.min.js" />
	<h:outputScript library="bootstrap/sb-admin-v2/js/plugins/morris/" name="morris.js" />

	<ui:insert name="head" />
</h:head>
<h:body>

	<div id="wrapper">

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<h:outputLink value="#{request.contextPath}/pcp/dashboard.html"
					style="margin-left: 5px;">
					<img src="#{request.contextPath}/resources/gfx/logo-wanke.png"
						style="max-width: 65%" />
				</h:outputLink>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw"></i> User
								Profile</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>
								Logout</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default navbar-static-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li><a href="#{request.contextPath}/pcp/dashboard.html"><i class="fa fa-dashboard fa-fw"></i>
								Dashboard</a></li>
						
						<li><a href="#{request.contextPath}/pcp/producao.html"><i class="fa fa-wrench fa-fw"></i>
								Produção</a></li>
						
					</ul>
					<!-- /#side-menu -->
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<ui:insert name="content" />
		</div>
		<!-- /#page-wrapper -->

	</div>

</h:body>
</html>
