<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/pcp.xhtml">

	<ui:define name="head">
		<h:outputStylesheet library="bootstrap/datetimepicker/"
			name="bootstrap-datetimepicker.css" />
		<h:outputScript library="bootstrap/datetimepicker/" name="moment.js" />
		<h:outputScript library="bootstrap/datetimepicker/"
			name="bootstrap-datetimepicker.js" />
	</ui:define>

	<ui:define name="content">


		<!-- Modal -->
		<div class="modal fade" id="modalGerenciarEquipe" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true"></button>
						<h4 class="modal-title" id="myModalLabel">Equipe</h4>
					</div>
					<div class="modal-body">

						<div class="table-responsive" style="padding-top: 5px;">
							<div id="dataTables-example_wrapper"
								class="dataTables_wrapper form-inline" role="grid">
								<button class="btn btn-default" data-toggle="modal"
									data-target="#modalAdicionarColaborador">Adicionar
									Colaborador</button>
								<table
									class="table table-striped table-bordered table-hover dataTable no-footer"
									id="dataTable-equipe"
									aria-describedby="dataTables-example_info">

									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0"
												aria-controls="dataTable-equipe" rowspan="1" colspan="1"
												aria-sort="ascending"
												aria-label="Rendering engine: activate to sort column ascending"
												style="width: 10px">Código</th>
											<th class="sorting" tabindex="0"
												aria-controls="dataTable-equipe" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column ascending"
												style="width: 200px;">Nome</th>
											<th class="sorting" tabindex="0"
												aria-controls="dataTable-equipe" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column ascending"
												style="width: 5px;">Ponto</th>
										</tr>
									</thead>
									<tbody>
										<ui:repeat var="colaborador" value="#{colaboradores}">
											<tr class="gradeA odd">
												<td class="sorting_1">#{colaborador.cod}</td>
												<td class=" "><h:outputText value="#{colaborador.nome}" /></td>
												<td class=" " align="center">

													<div class="tooltip-demo" data-toggle="modal"
														data-target="#modalGerenciarPontoColaborador">
														<span class="glyphicon glyphicon-time"
															data-toggle="tooltip" data-placement="left" title=""
															data-original-title="Gerencie o ponto dos horários do colaborador" />
													</div>
												</td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</div>
				</div>

				<script type="text/javascript">
						$('#datetimepicker1').datetimepicker();

					    $(document).ready(function() {
					        $('#dataTable-equipe').dataTable( {
								"paging": false,
								"ordering": false,
								"info": false,
								"language" : {
									"search": "Procurar: "
								}
						    });
					    });
					</script>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!-- Modal -->
		<div class="modal fade" id="modalGerenciarPontoColaborador"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true"></button>
						<h4 class="modal-title" id="myModalLabel">Pontos do colaborar
							"Colaborador 1"</h4>
					</div>
					<div class="modal-body">


						<div class="form-group">
							<div class="col-sm-11">
								<label>Data/Hora</label>
								<div class="input-group date" id="datetimepickerPonto"
									style="float: left;">
									<input type="text" class="form-control" /> <span
										class="input-group-addon"><span
										class="glyphicon-calendar glyphicon"></span></span>
								</div>
								<p class="help-block">Para adicionar um novo ponto informe a
									data e hora acima.</p>
							</div>
							<span class="glyphicon glyphicon-plus"
								style="float: right; margin-top: 6%;" />

						</div>

						<script type="text/javascript">
							$('#datetimepickerPonto').datetimepicker();
						</script>

						<div class="table-responsive" style="padding-top: 5px;">
							<div id="dataTables-example_wrapper"
								class="dataTables_wrapper form-inline" role="grid">
								<table
									class="table table-striped table-bordered table-hover dataTable no-footer"
									id="dataTable-ponto" aria-describedby="dataTables-example_info">

									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0"
												aria-controls="dataTable-ponto" rowspan="1" colspan="1"
												aria-sort="ascending"
												aria-label="Rendering engine: activate to sort column ascending"
												style="width: 10px">Data/Hora</th>
											<th class="sorting" tabindex="0"
												aria-controls="dataTable-equipe" rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column ascending"
												style="width: 5px;">Ponto</th>
										</tr>
									</thead>
									<tbody>
										<ui:repeat var="ponto" value="#{pontosColaborador}">
											<tr class="gradeA odd">
												<td class="sorting_1"><h:outputText
														value="#{ponto.data}">
														<f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
													</h:outputText></td>
												<td class=" " align="center">

													<div class="tooltip-demo" data-toggle="modal"
														data-target="#modalGerenciarPontoColaborador">
														<span class="glyphicon glyphicon-remove"
															data-toggle="tooltip" data-placement="left" title=""
															data-original-title="Remover ponto" />
													</div>
												</td>
											</tr>
										</ui:repeat>
									</tbody>
								</table>
							</div>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary">Salvar</button>

					</div>
				</div>

				<script type="text/javascript">
						$('#datetimepicker1').datetimepicker();

					    $(document).ready(function() {
					        $('#dataTable-ponto').dataTable( {
								"language" : {
									"search": "Procurar: "
								}
						    });
					    });
					</script>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!-- Modal -->
		<div class="modal fade" id="modalAdicionarColaborador"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true"></button>
						<h4 class="modal-title" id="myModalLabel">Novo Colaborador</h4>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label>Código</label>
							<input class="form-control"/>
							<p class="help-block">Selecione o campo acima e faça a leitura do crachá do colaborador ou informe o código manualmente.</p>

							<label>Nome</label> <input class="form-control" />
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary">Salvar</button>
					</div>
				</div>

				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->


		<!-- title -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Ordem de Operação</h1>
			</div>
		</div>
		<!-- /.title -->

		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Informações
						<div class="tooltip-demo" style="float: right; margin-top: -5px;"
							data-toggle="modal" data-target="#modalGerenciarEquipe">
							<img src="#{request.contextPath}/resources/gfx/ic_team.png"
								data-toggle="tooltip" data-placement="left" title=""
								data-original-title="Gerencie os membros da equipe" />
						</div>
					</div>
					<div class="panel-body">

						<div class="table-responsive">
							<table class="table table-bordered thRight">
								<tbody>
									<tr>
										<th>Código</th>
										<td>123456789</td>
										<th>Status</th>
										<td>Andamento</td>
									</tr>

									<tr>
										<th>Início</th>
										<td>123100</td>

										<th rowspan="2">Previsão</th>
										<td rowspan="2">De 10/07/2014 até <br />15/07/2014
										</td>
									</tr>

									<tr>
										<th>Fim</th>
										<td>123200</td>
									</tr>

									<tr>
										<th>Iniciada em</th>
										<td>10/07/2014</td>
										<th>Finalizado em</th>
										<td>Não finalizada</td>
									</tr>

									<tr>
										<th>Qtd a ser produzida</th>
										<td>100</td>
										<th>Qtd produzida</th>
										<td>30</td>
									</tr>

								</tbody>
							</table>
						</div>

						<div class="table-responsive" style="width: 50%;">
							<table class="table table-bordered thRight">
								<tbody>
									<tr>
										<th>Produto</th>
										<td>Lavadora Maria 7kg</td>
									</tr>

									<tr>
										<th>Código</th>
										<td>123456789</td>
									</tr>

									<tr>
										<th>Tensão de alimentação</th>
										<td>127 V ou 220V - 60 Hz</td>
									</tr>

									<tr>
										<th>Cor</th>
										<td>Branca</td>
									</tr>

									<tr>
										<th>Timer</th>
										<td>22min</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<!-- row -->
		<div class="row">
			<div class="col-lg-12">

				<!-- panel-default -->
				<div class="panel panel-default">
					<!-- panel-body -->
					<div class="panel-body">
						<!-- nav tabs -->
						<ul class="nav nav-pills">
							<li class="active"><a href="#apontamentos" data-toggle="tab">Apontamentos</a>
							</li>
						</ul>
						<!-- /.nav tabs -->

						<div class="tab-content">
							<div class="tab-pane fade in active" id="apontamentos"
								style="padding-top: 5px;">
								<ui:include src="/pcp/op-apontamentos.xhtml" />
							</div>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel-default -->
			</div>
		</div>
		<!--/. row -->

		<script type="text/javascript">

	    // tooltip demo
	    $('.tooltip-demo').tooltip({
	        selector: "[data-toggle=tooltip]",
	        container: "body"
	    })

	    // popover demo
	    $("[data-toggle=popover]")
	        .popover()

		</script>



	</ui:define>

</ui:composition>