<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/pcp.xhtml">

	<ui:define name="content">

		<div class="panel-body">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapseOne" class="collapsed">CENTRIUFA INOVA III</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse"
						style="height: 0px;">
						<div class="panel-body">

							<div class="panel-body">
								<div class="table-responsive">
									<div id="dataTables-example_wrapper"
										class="dataTables_wrapper form-inline" role="grid">
										<table
											class="table table-striped table-bordered table-hover dataTable no-footer"
											id="dataTables-example"
											aria-describedby="dataTables-example_info">

											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-sort="ascending"
														aria-label="Rendering engine: activate to sort column ascending"
														style="width: 248px;">Ordem</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Browser: activate to sort column ascending"
														style="width: 318px;">Código</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Browser: activate to sort column ascending"
														style="width: 318px;">Descrição</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Platform(s): activate to sort column ascending"
														style="width: 292px;">Qtd. PA</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending"
														style="width: 214px;">Início</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending"
														style="width: 214px;">Término</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending"
														style="width: 214px;">Nº Funcionários</th>
												</tr>
											</thead>
											<tbody>
												<ui:repeat var="producao"
													value="#{producaoMB.programacoesProducao()}">
													<tr class="gradeA odd">
														<td class="sorting_1"><a
															href="#{request.contextPath}/pcp/op.html?cod=#{op.codigo}">#{producao.ordem}</a>
														</td>
														<td class="sorting_1">#{producao.codigo}</td>
														<td class="sorting_1">#{producao.descricao}</td>
														<td class="sorting_1">#{producao.qtdMaquinas}</td>


														<td class=" "><h:outputText
																value="#{producao.dataHoraInicio}">
																<f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
															</h:outputText></td>
														<td class=" "><h:outputText
																value="#{producao.dataHoraFim}">
																<f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
															</h:outputText></td>
														<td class="sorting_1">#{producao.qtdFuncionarios}</td>
													</tr>
												</ui:repeat>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="panel-group" id="accordion2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2"
								href="#collapseTwo" class="collapsed">CENTRIUFA SUPREMA</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse"
						style="height: 0px;">
						<div class="panel-body">

							<div class="panel-body">
								<div class="table-responsive">
									<div id="dataTables-example_wrapper"
										class="dataTables_wrapper form-inline" role="grid">
										<table
											class="table table-striped table-bordered table-hover dataTable no-footer"
											id="dataTables-example"
											aria-describedby="dataTables-example_info">

											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-sort="ascending"
														aria-label="Rendering engine: activate to sort column ascending"
														style="width: 248px;">Ordem</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Browser: activate to sort column ascending"
														style="width: 318px;">Código</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Browser: activate to sort column ascending"
														style="width: 318px;">Descrição</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Platform(s): activate to sort column ascending"
														style="width: 292px;">Qtd. PA</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending"
														style="width: 214px;">Início</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending"
														style="width: 214px;">Término</th>
													<th class="sorting" tabindex="0"
														aria-controls="dataTables-example" rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending"
														style="width: 214px;">Nº Funcionários</th>
												</tr>
											</thead>
											<tbody>
												<ui:repeat var="producao"
													value="#{producaoMB.programacoesProducao()}">
													<tr class="gradeA odd">
														<td class="sorting_1"><a
															href="#{request.contextPath}/pcp/op.html?cod=#{op.codigo}">#{producao.ordem}</a>
														</td>
														<td class="sorting_1">#{producao.codigo}</td>
														<td class="sorting_1">#{producao.descricao}</td>
														<td class="sorting_1">#{producao.qtdMaquinas}</td>


														<td class=" "><h:outputText
																value="#{producao.dataHoraInicio}">
																<f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
															</h:outputText></td>
														<td class=" "><h:outputText
																value="#{producao.dataHoraFim}">
																<f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
															</h:outputText></td>
														<td class="sorting_1">#{producao.qtdFuncionarios}</td>
													</tr>
												</ui:repeat>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>