div.apontamento {
	width: 30%;
	height: 40%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

input.input, .inputPrevisto, .inputRealizado, .inputDiferenca {
	color: #FFF;
	font-weight: bold;
	font-size: 50px;
	width: 130px;
	height: 90px;
	text-align: center;
}

input.inputPrevisto {
	background-color: #067C00 !important;
}

input.inputRealizado {
	background-color: #067C00 !important;
}
input.inputDiferenca {
	background-color: #FF0000 !important;
}

input.inputCodigo {
	text-align: center;
}