<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/apontamento.xhtml">

	<ui:define name="content">

		<div class="panel-body">
			<div class="alert alert-danger alert-dismissable"
				style="display: none;">
				O código informado <strong>123456987</strong> não existe.
			</div>
		</div>

		<div class="row" align="center">
			<h1>
				Código lido: <input id="codigoLido" type="text" onblur="this.focus();"/>
			</h1>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="jumbotron" align="center" style="height: 350px">
					<h1>CENTRIFUGA INOVA III LILAS</h1>

					<div class="row">
						<p>
							Código <input type="text" value="11010001" readonly="readonly"
								class="inputCodigo" />
						</p>
					</div>

					<div class="col-lg-4">
						<p>
							Previsto <input id="inputPrevisto" type="text"
								class="form-control inputPrevisto" readonly="readonly"
								value="200" />
						</p>
					</div>

					<div class="col-lg-4">
						<p>
							Realizado <input id="inputRealizado" type="text"
								class="form-control inputRealizado" readonly="readonly"
								value="150" />
						</p>
					</div>

					<div class="col-lg-4">
						<p>
							Diferença <input id="inputDiferenca" type="text"
								class="form-control inputDiferenca" readonly="readonly"
								value="50" />
						</p>
					</div>
				</div>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<script type="text/javascript">

			if(location.search === "?showError") {

				$("div.alert-danger").show();
				setTimeout(function() {
						$("div.alert-danger").hide("slow")
					}, 5000);
			}

			$("#codigoLido").focus();
		</script>

	</ui:define>

</ui:composition>
