<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/lider_op.xhtml">

	<ui:define name="head">
		<h:outputStylesheet library="css/" name="layout.css" />
	</ui:define>

	<ui:define name="content">
	
		<div class="row">

			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">OPs a serem realizadas</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<div id="dataTables-example_wrapper"
									class="dataTables_wrapper form-inline" role="grid">
									<table
										class="table table-striped table-bordered table-hover dataTable no-footer"
										id="dataTables-example"
										aria-describedby="dataTables-example_info">

										<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0"
													aria-controls="dataTables-example" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Rendering engine: activate to sort column ascending"
													style="width: 248px;">Código</th>
												<th class="sorting" tabindex="0"
													aria-controls="dataTables-example" rowspan="1" colspan="1"
													aria-label="Browser: activate to sort column ascending"
													style="width: 318px;">Início</th>
												<th class="sorting" tabindex="0"
													aria-controls="dataTables-example" rowspan="1" colspan="1"
													aria-label="Browser: activate to sort column ascending"
													style="width: 318px;">Fim</th>
												<th class="sorting" tabindex="0"
													aria-controls="dataTables-example" rowspan="1" colspan="1"
													aria-label="Platform(s): activate to sort column ascending"
													style="width: 292px;">Qtd. PA</th>
												<th class="sorting" tabindex="0"
													aria-controls="dataTables-example" rowspan="1" colspan="1"
													aria-label="Engine version: activate to sort column ascending"
													style="width: 214px;">Qtd PA finalizado</th>
											</tr>
										</thead>
										<tbody>
											<ui:repeat var="op" value="#{dashboardBean.ordensProducao()}">
												<tr class="gradeA odd">
													<td class="sorting_1">
														<h:link outcome="op" value="#{op.codigo}">
															<f:param name="codigo" value="#{op.codigo}" />
														</h:link>
<!-- 														<a href="#{request.contextPath}/lider-op/op.html?cod=#{op.codigo}" >#{op.codigo}</a> -->
													</td>
													<td class=" "><h:outputText value="#{op.inicio}">
															<f:convertDateTime pattern="dd/MM/yyyy" />
														</h:outputText></td>
													<td class=" "><h:outputText value="#{op.fim}">
															<f:convertDateTime pattern="dd/MM/yyyy" />
														</h:outputText></td>
													<td class=" ">#{op.qtdProdutoAcabado}</td>
													<td class="center ">#{op.qtdProdutoAcabadoFinalizado}</td>
												</tr>
											</ui:repeat>
										</tbody>
									</table>
								</div>
							</div>

						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->

				</div>
			</div>

		</div>

		<script type="text/javascript">
		    $(document).ready(function() {
		        $('#dataTables-example').dataTable( {
					"paging": false,
					"ordering": false,
					"info": false,
					"language" : {
						"search": "Procurar: "
					}
			    });
		    });
	    </script>

	</ui:define>

</ui:composition>