<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<div class="row">
		<div class="col-lg-12">

			<button class="btn btn-default" data-toggle="modal"
				data-target="#modalAdicionarApontamentoManual">Adicionar
				apontamento manual</button>

			<!-- Modal -->
			<div class="modal fade" id="modalAdicionarApontamentoManual"
				tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true"></button>
							<h4 class="modal-title" id="myModalLabel">Apontamento Manual</h4>
						</div>
						<div class="modal-body">


							<div class="form-group">
								<label>Data/Hora</label> 						
							    <div class="input-group date" id="datetimepicker1">
							        <input type="text" class="form-control" />
									<span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
							    </div>
							    <p class="help-block">Informe a data e hora em que o apontamento foi feito.</p>

								<label>Código inicial</label>
							    <input class="form-control"/>
							    <p class="help-block">Informe o código do primeiro produto.</p>

								<label>Código final</label>
							    <input class="form-control"/>
							    <p class="help-block">Informe o código do último produto, caso seja apenas um deixe em branco.</p>
						    </div>							
							
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-primary">Salvar</button>
						</div>
					</div>

					<script type="text/javascript">
						$('#datetimepicker1').datetimepicker();
					</script>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<div class="table-responsive" style="padding-top: 5px;">
				<div id="dataTables-example_wrapper"
					class="dataTables_wrapper form-inline" role="grid">
					<table
						class="table table-striped table-bordered table-hover dataTable no-footer"
						id="dataTables-example" aria-describedby="dataTables-example_info">

						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0"
									aria-controls="dataTables-example" rowspan="1" colspan="1"
									aria-sort="ascending"
									aria-label="Rendering engine: activate to sort column ascending"
									style="width: 248px;">Código PA</th>
								<th class="sorting" tabindex="0"
									aria-controls="dataTables-example" rowspan="1" colspan="1"
									aria-label="Browser: activate to sort column ascending"
									style="width: 318px;">Data/Hora</th>
								<th class="sorting" tabindex="0"
									aria-controls="dataTables-example" rowspan="1" colspan="1"
									aria-label="Browser: activate to sort column ascending"
									style="width: 318px;">Sincronizado (100 apontamentos não
									sincronizados) <h:graphicImage url="/resources/gfx/ic_sync.png" />
								</th>
							</tr>
						</thead>
						<tbody>
							<ui:repeat var="apontamento" value="#{ordemOperacaoMB.apontamentos()}">
								<tr class="gradeA odd">
									<td class="sorting_1">#{apontamento.codProdutoAcabado}</td>
									<td class=" "><h:outputText
											value="#{apontamento.dataHora}">
											<f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
										</h:outputText></td>
									<td class=" "><h:graphicImage alt="sim"
											title="Sincronizado" url="/resources/gfx/ic_sinc.png"
											rendered="#{apontamento.sinc}" /> <h:graphicImage alt="não"
											title="Não Sincronizado" url="/resources/gfx/ic_not_sinc.png"
											rendered="#{!apontamento.sinc}" /> <h:outputText
											style="display: none;" value="#{apontamento.sinc}" /></td>
								</tr>
							</ui:repeat>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#dataTables-example').dataTable( {
				"language" : {
					"search": "Procurar: "
				}
		    });
	    });
			    
    </script>

</ui:composition>