<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<div class="row">
		<div class="col-lg-12">

			<div class="table-responsive" style="padding-top: 5px;">
				<div id="dataTable-apontamentos-invalidos_wrapper"
					class="dataTables_wrapper form-inline" role="grid">
					<table
						class="table table-striped table-bordered table-hover dataTable no-footer"
						id="dataTable-apontamentos-invalidos" aria-describedby="dataTables-example_info">

						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0"
									aria-controls="dataTable-apontamentos-invalidos" rowspan="1" colspan="1"
									aria-sort="ascending"
									aria-label="Rendering engine: activate to sort column ascending"
									style="width: 248px;">Código PA</th>
								<th class="sorting" tabindex="0"
									aria-controls="dataTable-apontamentos-invalidos" rowspan="1" colspan="1"
									aria-label="Browser: activate to sort column ascending"
									style="width: 318px;">Data/Hora</th>
								<th class="sorting" tabindex="0"
									aria-controls="dataTable-apontamentos-invalidos" rowspan="1" colspan="1"
									aria-label="Browser: activate to sort column ascending"
									style="width: 318px;">Descrição</th>
							</tr>
						</thead>
						<tbody>
							<ui:repeat var="apontamento" value="#{ordemOperacaoMB.apontamentosInvalidos()}">
								<tr class="gradeA odd">
									<td class="sorting_1">#{apontamento.codProdutoAcabado}</td>
									<td class=" "><h:outputText
											value="#{apontamento.dataHora}">
											<f:convertDateTime pattern="dd/MM/yyyy hh:mm" />
										</h:outputText></td>
									<td class=" ">
										<p class="text-danger">Apontamento repetido.</p>
									</td>
								</tr>
							</ui:repeat>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#dataTable-apontamentos-invalidos').dataTable( {
				"language" : {
					"search": "Procurar: "
				}
		    });
	    });
			    
    </script>

</ui:composition>